<section class="ss_container top-scope-{{topScope}}" *ngIf="topScope != null">
  <div class="ss_title">
    <span class="ss_title-2">
      <i class="fa {{titleIcon}}" *ngIf="topScope != 'weather'"></i>
      <img *ngIf="topScope == 'weather'" width="25px" src="{{titleIcon}}"><span [innerHTML]="titleText"></span></span>
      <div class="weather-search" *ngIf="topScope == 'weather'">
        <input type="text" name="fname" class="weather-search-input" placeholder="Search for a city..." (keyup)="keypress($event)">
        <i class="fa fa-arrow-right-1"></i>
        <div class="autocomplete-dropdown" *ngIf="autocompleteItems.length > 0 || showError">
          <div class="arrow-up"></div>
          <div class="autocomplete-dropdown-title">Suggestions</div>
          <scrollable-content>
            <div class="dropdown-item" id="{{item.city}}-{{item.state}}" (click)="selectCity($event)" *ngFor="let item of autocompleteItems">
              {{item.city}}, {{item.state}}
            </div>
          </scrollable-content>
          <div *ngIf="showError" class="autocomplete-error">
            <i class="fa fa-search-icon-01"></i>
            <span class="error-text">
              Sorry we can’t find any results matching your search request.
            </span>
          </div>
        </div>
      </div>
    <span class="ss_title-1" *ngFor="let scopeItem of scopeList" (click)="scopeChange(scopeItem)" [class.ss-title-active]="scope.toUpperCase() == scopeItem.toUpperCase()" >{{scopeItem}}</span>
  </div>
  <side-scroll *ngIf="sideScrollData" (carouselCount)="counter($event)" [current]="curCount" [maxLength]="scrollLength" [data]="sideScrollData">
    <template ngFor let-item [ngForOf]="sideScrollData.blocks">
      <schedule-box *ngIf="item" [topScope]="topScope" [scope]="scope" [boxData]="item"></schedule-box>
    </template>
  </side-scroll>
</section>
