<section class="ss_container">
  <div class="ss_title">
    <span class="ss_title-2"><i class="fa fa-calendar"></i> Upcoming Games</span>
    <span class="ss_title-1" [class.ss-title-active]="scope.toUpperCase() == _collegeDivisionFullAbbrv || scope.toUpperCase() == _collegeDivisionAbbrv" (click)="scopeChange(_collegeDivisionFullAbbrv)">{{_collegeDivisionFullAbbrv.toUpperCase()}}</span>
    <span class="ss_title-1" [class.ss-title-active]="scope.toUpperCase() == _sportLeagueAbbrv" (click)="scopeChange(_sportLeagueAbbrv)">{{_sportLeagueAbbrv.toUpperCase()}}</span>
  </div>
  <side-scroll *ngIf="sideScrollData" (carouselCount)="counter($event)" [current]="curCount" [maxLength]="scrollLength" [data]="sideScrollData">
    <template ngFor let-item [ngForOf]="sideScrollData">
      <schedule-box *ngIf="item" [boxData]="item"></schedule-box>
    </template>
  </side-scroll>
</section>
