<larousel *ngIf="carData" [videoData]="videoData" [carData]="carData" (displayedData)="displayArray($event)">
  <template  [ngIf]="displayedItems">
    <template  ngFor let-item [ngForOf]="displayedItems">
      <div class="newsbox" *ngIf="item.type == 'video' || item.type == 'clone'" [ngStyle]="{'background-image': 'linear-gradient(180deg, rgba(40, 40, 40, 0.5) 0%, rgba(24, 24, 24, 0.65) 100%), url(' + item.data.thumbnail + ')'}" [ngClass]="{'clone': item.type == 'clone'}">
        <div class="newsbox-item video-width" [ngStyle]="{'cursor':'default'}">
          <div class="newsbox-item-container">
            <div class="newsbox-item-container-left">
              <div class="newsbox-item-container-left-video">
                <iframe width="100%" height="100%"  [src]="item.data.videoLink | safeRUrl" frameborder="0" scrolling = "no" allowfullscreen></iframe>
              </div>
            </div>
            <div class="newsbox-item-container-right" id="lrgvidnewsbox-right">
              <div class="newsbox-item-container-right-key">TOP VIDEOS</div>
              <div class="newsbox-item-container-right-title"><span>Today's Top Videos:</span><div id="cardivetitle" [innerHTML]="item.data.title | safeHtml"></div></div>
              <div class="newsbox-item-container-right-title-border"></div>
              <div class="newsbox-item-container-right-content">
                <span class="cardescription" [innerHTML]="item.data.description | safeHtml"></span>
                <span>Published on {{formatDate(item.data.pubDate)}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="newsbox story-item"  *ngIf="item.type == 'carousel'" [routerLink]="item.data.articlelink" [ngStyle]="{'background-image': 'linear-gradient(180deg, rgba(40, 40, 40, 0.5) 0%, rgba(24, 24, 24, 0.65) 100%), url(' + item.data.image_url + ')', 'cursor': 'pointer'}" [ngClass]="{'clone': item.type == 'clone'}">
        <div class="newsbox-item">
          <div class="newsbox-item-container">
            <div class="newsbox-item-container-right" id="lrgnewsbox-right" style="display:block;">
              <div class="newsbox-item-container-right-key" [innerHTML]="item.data.keyword | safeHtml"></div>
              <div class="newsbox-item-container-right-title" [innerHTML]="item.data.title | safeHtml"></div>
              <div class="newsbox-item-container-right-title-border"></div>
              <div class="newsbox-item-container-right-content" [innerHTML]="item.data.teaser | safeHtml">
              </div>
              <a [routerLink]="item.data.articlelink">
                <div class="newsbox-item-container-right-fullstory">Read the Full Story</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </template>
  </template>
</larousel>
