<div id="deep-dive-block-main" class="deep-dive-block">
  <!-- ARTICLE STACK TYPE 1 1-->
  <div *ngIf="stackTop1 && stackRow1" class="deep-dive-module">
    <section-name-component [secName]="sectionName1"></section-name-component>
    <article-stack-1-module [stackTop]="stackTop1" [stackRow]="stackRow1"></article-stack-1-module>
  </div>
  <!-- VIDEO STACK -->
  <div *ngIf="videoDataTopMain && videoDataBatchMain" class="deep-dive-module">
    <section-name-component [secName]="sectionName2"></section-name-component>
    <deep-dive-video-module [videoDataTop]="videoDataTopMain" [videoDataBatch]="videoDataBatchMain"></deep-dive-video-module>
  </div>
  <!-- SIX PACKS 1-->
  <div *ngIf="recData1 && sectionNameSports" class="deep-dive-module">
    <section-name-component [secName]="sectionName3"></section-name-component>
    <deep-dive-recommendation [recData]="recData1"></deep-dive-recommendation>
  </div>
  <!-- ARTICLE STACK TYPE 1 2-->
  <div *ngIf="stackTop2 && stackRow2" class="deep-dive-module">
    <section-name-component [secName]="sectionName4"></section-name-component>
    <article-stack-1-module [stackTop]="stackTop2" [stackRow]="stackRow2"></article-stack-1-module>
  </div>
  <!-- ARTICLE STACK TYPE 2 -->
  <div *ngIf="stackTop3 && stackRow3" class="deep-dive-module">
    <section-name-component [secName]="sectionName5"></section-name-component>
    <article-stack-2-module [articleStack2DataTop]="stackTop3" [articleStack2DataBatch]="stackRow3"></article-stack-2-module>
  </div>
  <!-- SIX PACKS 2-->
  <div *ngIf="recData2" class="deep-dive-module">
    <section-name-component [secName]="sectionName6"></section-name-component>
    <deep-dive-recommendation [recData]="recData2"></deep-dive-recommendation>
  </div>
