<div id="deep-dive-block-2" class="deep-dive-block">
  <!-- ARTICLE STACK TYPE 1 -->
  <div class="deep-dive-module">
    <article-stack-1-module *ngIf="firstStackTop" [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-1-module>
  </div>
  <!-- VIDEO STACK -->
  <div class="deep-dive-module">
    <deep-dive-video-module *ngIf="videoDataTop" [videoDataTop]="videoDataTop" [videoDataBatch]="videoDataBatch"></deep-dive-video-module>
  </div>
  <!-- BILL BOARD -->
  <div class="deep-dive-module">
    BILL BOARD MODULE HERE
  </div>
  <!-- SIX PACKS -->
  <div class="deep-dive-module">
    <deep-dive-recommendation *ngIf="recData" [recData]="recData"></deep-dive-recommendation>
  </div>
  <!-- ARTICLE STACK TYPE 1 -->
  <div class="deep-dive-module">
    <article-stack-1-module *ngIf="firstStackTop" [stackTop]="firstStackTop" [stackRow]="firstStackRow"></article-stack-1-module>
  </div>
  <!-- ARTICLE STACK TYPE 2 -->
  <div class="deep-dive-module">
    <article-stack-2-module *ngIf="articleStack2DataTop" [articleStack2DataTop]="articleStack2DataTop" [articleStack2DataBatch]="articleStack2DataBatch"></article-stack-2-module>
  </div>
  <!-- SIX PACKS -->
  <div class="deep-dive-module">
    <deep-dive-recommendation *ngIf="recData" [recData]="recData"></deep-dive-recommendation>
  </div>
</div>
