.stackRows{
  overflow: hidden;
  padding: 0 10px;
  div:last-of-type {
    .stacksmall {
      margin-bottom:0;
    }
    .stackSmall-breakLine {
      display:none;
    }
  }
}

@media @mobile{
  //Remove the last 2 item, because we only want 6 items at mobile bp
  .stackRow:nth-last-child(-n+2) {
    display: none;
  }
}

.stackSmall {
    float:left;
    margin: 0 0 10px;
    .flexDisplay;
    &-image {
      background-color: @masterBackgroundColor;
      margin-right: 10px;
      min-width: 85px;
    }
    &-text {
      text-align: left;
      width: auto;
      overflow: hidden;
      .line-clamp;
      .line-clamp-3;//limit to 3 lines
      &-keyword {
         text-transform: uppercase;
         margin-bottom: 5px;
         overflow: hidden;
         text-overflow: ellipsis;
         .globalDefaultModFont(10px, 800, @black);
         > span:last-child{
           margin-left: 5px;
           color: @bulletGrey;
           overflow: hidden;
           height: 20px;
         }
      }
      &-subHeadline {
         .globalDefaultFont(12px, 400);
         line-height: 1em;
         p{
           line-height: 1em;
         }
      }
    }
    &:hover{
      color: @masterBrandColor;
      .image-rectangle-hover div{
        .flexDisplay;
      }
    }
}

@media @tablet {
  .stackSmall {
    margin-bottom: 15px;
    &-text {
      width: 180px;
      height: 4.2em;
      &-keyword {
         > span:last-child{
           height: 50px;
         }
      }
    }
  }
  .stackRows{
    padding: 0;
  }
}
