.stackRows{
  overflow: hidden;
  padding: 0 10px;
  div:last-of-type {
    .stacksmall {
      margin-bottom:0;
    }
  }
}

.stackSmall {
    float:left;
    margin: 0 0 10px;
    .flexDisplay;
    &-image {
      background-color: @white;
      margin-right: 10px;
      min-width: 85px;
    }
    &-text {
      text-align: left;
      width: auto;
      overflow: hidden;
      //.line-clamp;
      //.line-clamp-3;//limit to 3 lines
      &-keyword {
         margin-bottom: 5px;
         margin-left: 92px;
         overflow: hidden;
         position: absolute;
         text-overflow: ellipsis;
         text-transform: uppercase;
         .globalDefaultModFont(10px, 800, @black);
         > span:last-child{
           margin-left: 5px;
           color: @bulletGrey;
           overflow: hidden;
           height: 20px;
         }
      }
      &-subHeadline {
         .globalDefaultFont(14px, 400);
         line-height: 1em;
         margin-top: 15px;
         p{
           line-height: 1em;
         }
      }
    }
    @media @tablet{
      &:hover{
        color: @masterBrandColor;
        .image-rectangle-hover div{
          .flexDisplay;
        }
      }
    }
}

@media @mobile{
  .stackRow{
    border-bottom: 1px solid @strokeGrey;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .stackRow:nth-child(6){
    border-bottom: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  //Select all but the first six
  .stackRow:nth-child(n+7) {
    display: none;
  }
  .stackRows{
    margin-bottom: -8px;
  }
  .stackSmall-text-keyword{
    margin-left: 95px;
  }
}
@media @tablet {
  .stackSmall {
    margin-bottom: 15px;
    &-image{
      min-width: 82px;
    }
    &-text {
      // height: 4.2em;
      &-keyword {
        z-index: 1;
        > span:first-child{
          &:hover{
            color: @masterBrandColor;
          }
        }
         > span:last-child{
           height: 50px;
         }
      }
    }
  }
  .stackRow{
    border-bottom: 1px solid @strokeGrey;
    margin-bottom: 15px;
    margin-right: 15px;
    max-width: 47.5%;
  }
  .stackRow:nth-child(even){
    max-width: 50%;
    margin-right: 0;
  }
  .stackRow:nth-child(n+7){//select all but the first 6
    margin-bottom: 0;
  }
  .stackRow:nth-child(n+9){//FALL BACK - select all but the first 8
    display: none;
  }
  .stackRows{
    padding: 0;
  }
}

@media @desktop-m {
  .stackRows {
      height: auto;
      overflow: visible;
      margin-left: 15px;
  }
  .stackRow{
    max-width: 100%;
  }
  .stackRow:nth-child(even){
    max-width: 100%;
    margin-right: 0;
  }
  .stackRow:nth-child(n+7){//overwriting tablet style
    margin-bottom: 15px;
  }
  .stackRow:last-child {
    margin-bottom: 0;
  }
  .stackSmall {
    width: 313px;
    height: auto;
    .col-xs-12;
    &-image {
      display: none;
    }
    &-text {
      height: auto;
      width: 313px;
      max-width: 313px;
      &-keyword{
        margin-left: 0;
      }
    }
  }//stackSmall ends
}
