<div class="module-container box-scores col-lg-8" *ngIf="calendarParams">

  <div id="box-header">
    <module-header *ngIf="boxScores" [modHeadData]="boxScores.moduleTitle"></module-header>
    <!--for calendar-->
    <calendar-carousel *ngIf="calendarParams" [chosenParam]="calendarParams" (dateEmit)="dateTransfer($event)"></calendar-carousel>
    <!--for calendar-->

    <!--for team profile-->
    <!-- <article-schedule-component *ngIf=" calendarParams.profile != 'league' && boxScores" [homeData]="boxScores.schedule.home" [awayData]="boxScores.schedule.away"></article-schedule-component> -->
  </div>

  <!--box-scores info-->
  <div *ngIf="boxScores" class="box-scores-info row">
    <template [ngIf]="!scroll" *ngIf="windowWidth >= 768">
      <div
        *ngFor="let gameBox of boxScores.gameInfo; let i = odd"
        class="box-scores-info-container col-md-6"
        [class.odd]="i" [class.even]="!i">
        <!--game info that affects only how league box scores are displayed-->
        <div *ngIf="calendarParams.profile == 'league'">
          <game-info
            *ngFor="let game of gameBox; let g = index"
            [gameInfo]="game.game">
          </game-info>
        </div>
        <!--game info that affects only how team box scores are displayed-->
        <div *ngIf=" calendarParams.profile != 'league' " >
          <game-info
            *ngIf=" calendarParams.profile != 'league'"
            [gameInfo]="gameBox[gameNum].game">
          </game-info>
          <template [ngIf]="gameBox[gameNum].aiContent > 1">
            <!-- <game-article  *ngIf=" calendarParams.profile != 'league' " class="float-right" [gameArticle]="gameBox[gameNum].aiContent"></game-article> -->
          </template>
        </div>
      </div>
    </template>

    <!--box-scores info-->
    <template [ngIf]="windowWidth < 768">
      <div
        *ngIf="boxScores"
        class="box-scores-info-container col-md-6">
        <!--game info-->
        <game-info
          [gameInfo]="boxScores.gameInfoMobile[currentPage - 1][0].game">
        </game-info>
      </div>

      <!--multi game navigation for mobile-->
      <div class='box-scores-leagueNav'>
        <span class="pageIndicator">
          Showing: <b>{{currentPage}}</b> of <b>{{boxScores.gameInfoMobile.length}}</b>
        </span>
        <span class="pagButton leftPag {{leftDisabled}}" (click)="retreatPage()">
          <i class="fa fa-angle-left"></i> Previous Game
        </span>
        <span class="pagButton rightPag {{rightDisabled}}" (click)="advancePage()">
          Next Game <i class="fa fa-angle-right"></i>
        </span>
      </div>
    </template>

</div>
