.module-container .stats .pane {
  min-height: 80px;
}
.stats {
  .nav-tabs li span{
    position:relative;
  }
  .custom-table-row .image-column .table-cell-image span{
    width:100%;
    @media @mobile{
      line-height: 14px;
      //position: relative;
      //top:-2px;
      text-align:left;
    }
  }
  .custom-table .spacer {
    display:none;
    @media @mobile {
      width: 160px;
      display:block;
    }
  }
  .pane {

    @media @mobile{
      padding: 10px 5px;
      //padding: 70px 0 5px 5px;
      min-height: 165px !important;

    }

  }
  .pane-content{
    @media @mobile{
      margin-top:64px;
    }
  }
  &-car {
    .carousel{
      @media @mobile {
        height: 320px;
      }
    }
    .scc-details-mainImg{
      @media @tablet {
        margin-right: 20px;
      }
    }
    .scc-details-type1-desc{
      width:100%;
    }


    .scc-details-type1-hdr:hover{
      color:@investKitBlue;
    }

    .scc-details-desc {
      width: 100%;
      @media @tablet{
        //position: relative;
        //left:15px;
      }
    }
  }

  .image-column-hdr, .image-column {
    width: 230px;
    @media @mobile {
      width: 150px;
    }
  }
  .custom-table-sort  {
    @media @mobile {
      top: 8px;
    }
  }
  .data-column-hdr,.data-column{
    min-width: 55px;
  }
  table circle-image {
    @media @mobile {
      display: none;
    }
  }
  .table-cell-image span {
    @media @mobile {
      margin-left: 10px;
    }
  }
  th.image-column-column {
    @media @mobile {
      position: absolute;
      z-index: 1;
      left: 10px;
      background-color: inherit;
      height: 40px;
      border-width: 0 5px 0 0;
      border-style: solid;
      border-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)) 1 100%;
    }
    .table-cell-image {
      @media @mobile {
        margin-top: 5px;
      }
    }
  }
  .image-column-hdr {
    @media @mobile {
      position: absolute;
      z-index: 1;
      left: 10px;
      .custom-table-header {
        margin-right:0!important;
      }
    }
    background-color: @white;
    .custom-table-header {
      margin-right:5px;
    }
  }



  &-table-title {
    left:5px;
    height: 40px;
    margin:0px;
    padding:0px;
    .flexDisplay;
    .flexAlignItems(center);
    .flexJustify(space-between);
    @media @mobile{
      //height:30px;
      width:100%;
      position:absolute;
      z-index: 1;
      display: block;
      //padding: 5px 5px ;
      margin:0px;
      padding: 0px;

    }
    h4 {
      margin: 0px;
      width: 62%;
      .globalDefaultFont(18px, 400);
      @media @mobile{
        .globalDefaultFont(16px, 400);
        width:250%;



      }
    }
    //margin: 10px;
  }

  &-season-dropdown {
    margin: 0px;
    float: right;
    .flexDisplay;
    .flexAlignItems(center);
    .globalDefaultFont(12px, 400);
    @media @mobile{
      .globalDefaultFont(0px, 400);
    }
    .dropdown {
      margin-left: 10px;
      &:hover{
        @media @tablet {
          border: 1px solid @touchDownLoyalBlue ;
        }
      }
      //margin-left: 10px;
      width: auto;
      @media @mobile{
        width: auto;
        height:30px;
        position: relative;
        float:left;
        top: 8px;
        left: -17px;
        margin-left:15px;
        .globalDefaultFont(12px, 400);

      }
      .dropdown-hdr{
        height: 30px;
      }
      .dropdown-list{
        left:2px;
      }
      .dropdown-list-option{
        width:75px;
      }
    }

  }

  &-glossary {
    &.pane-content {
      border-top: 1px solid @strokeGrey;
      padding-bottom: 10px;
    }

    &-title {
      margin: 10px 0px;
      .globalDefaultFont(16px, 700);
    }

    &-box {
      background-color: @backgroundGrey;
      //border-top: 1px solid @strokeGrey;
      padding: 10px 10px;
      .globalDefaultFont(12px, 400);

      li {
        line-height: 15px;
      }
    }
  }
}
