<div
  *ngIf="gameArticle"
  class="row">
  <div
    *ngFor="let article of gameArticle"
    class="game-article col-xs-12 col-md-6 col-lg-12">
    <a href="{{article.urlRouteArray}}" target="_blank">
      <div class="game-article-image">
        <img src="{{article.imageConfig.imageUrl}}" alt="{{article.title}}" />
      </div>

      <div class="game-article-image-caption">
        <span class="game-article-keyword">
          {{article.keyword}}
        </span>
        <span class="game-article-date">
          {{article.date}}
        </span>
      </div>

      <div class="game-article-headlineBox">
        <div class="game-article-headline">
          {{article.title}}
        </div>
      </div>
    </a>
  </div>
</div>
