<div
  *ngIf="gameArticle"
  class="row box-article">
  <div
    *ngFor="let article of gameArticle"
    class="game-article col-xs-12 col-md-6 col-lg-12">
    <a href="{{article.urlRouteArray}}" target="_blank">
      <div class="game-article-image embed-responsive embed-responsive-16by9" [ngStyle]="{'background-image': 'url(' + article.imageConfig.imageUrl + ')'}">

      </div>

      <div class="game-article-image-caption">
        <span class="game-article-keyword">
          {{article.keyword}}
        </span>
        <span class="game-article-date">
          {{article.date}}
        </span>
      </div>

      <div class="game-article-headlineBox">
        <div class="game-article-headline">
          {{article.title}}
        </div>
      </div>
    </a>
  </div>
</div>

<!--
<div *ngIf="gameArticle" class="game-article">
  <div class="game-article-title"><i class="news fa fa-newspaper-o"></i><span class="story">Stories About This Game:</span></div>
  <div class="game-article-container">
    <div class="game-article-image" >
      <div *ngFor="let image of gameArticle.images" [class.image2]="gameArticle.images.length > 1" [class.image1]="gameArticle.images.length == 1" [ngStyle]="{'background-image': 'url(' + image + ')'}">
      </div>
    </div>
    <div class="game-article-headlineBox">
      <div class="game-article-headline">{{gameArticle.headline}}</div>
      <div class="game-article-link"><a [routerLink]="gameArticle.articleLink">{{gameArticle.report}} <i class="fa fa-angle-right-1"></i></a></div>
    </div>
  </div>
</div> -->
