<section class="row">
  <div class="video-stack {{bootstrapGrid}}" *ngFor="let item of articleBlockData;">
    <div class="video-stack-block">
      <a class="video-stack-thumbnail" [routerLink]='item.articleUrl'>
        <div class="stacktop-image">
          <rectangle-image [data]="item.imageConfig"></rectangle-image>
        </div>
      </a>
      <div class="video-title-top">
        <span class="video-title-top-key"><a [routerLink]="item.keyUrl" [innerHTML]="item.keyword | safeHtml"></a></span>
        <span class="video-title-top-date" [innerHTML]="item.timeStamp | safeHtml"></span>
      </div>
      <div class="video-stack-info">
        <a class="video-stack-info-title" [routerLink]='item.articleUrl'>
          <span class="video-title-mid" [innerHTML]="item.teaser | safeHtml"></span>
        </a>
      </div>
    </div>
  </div>
</section>
