<footer *ngIf="paginationParameters" class="pagination-container no-select">

    <!-- Buttons for module pagination type -->
    <div *ngIf="paginationParameters.paginationType == 'module'" class="pagination-row">
        <!-- Angle Left Button -->
        <div class="pagination-leftnav">
          <a (click)="indexLeft('last')" class="pagination-button-doubleangle">
            <i class="fa fa-angle-double-left"></i>
          </a>
          <a id="pf-angle-left" *ngIf="paginationParameters.max > 1" (click)="indexLeft('single')" class="pagination-button-angle">
            <i class="fa fa-angle-left"></i>
          </a>
        </div>
        <div class="pagination-centernav">
          <!-- Minimum Button -->
          <!-- <a *ngIf="showMinSkip" (click)="indexClick($event)" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == 1}">
            1
          </a> -->

          <a *ngFor="let item of paginationButtonsModule" (click)="indexClick($event)" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == item && item !== 1 && item !== paginationParameters.max}">
            {{item}}
          </a>

          <!-- <a *ngIf="showMaxSkip" (click)="indexClick($event)" *ngIf="paginationParameters.max > 1" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == paginationParameters.max}">
            {{paginationParameters.max}}
          </a> -->
        </div>
        <!-- Angle Right Button -->
        <div class="pagination-rightnav">
          <button id="pf-angle-right" *ngIf="paginationParameters.max > 1" (click)="indexRight('single')" class="pagination-button-angle">
            <i class="fa fa-angle-right"></i>
          </button>
          <button (click)="indexRight('last')" class="pagination-button-doubleangle">
            <i class="fa fa-angle-double-right"></i>
          </button>
        </div>
    </div>

    <!-- Anchor tags for page pagination type -->
    <div *ngIf="paginationParameters.paginationType == 'page'" class="pagination-row">
        <!-- Angle Left Button -->
        <div class="pagination-leftnav">
          <a class="pagination-button-doubleangle {{disabledMin}}" [routerLink]="[paginationParameters.navigationPage, firstButtonParameters]">
            <i class="fa fa-angle-double-left"></i>
          </a>
          <a class="pagination-button-angle {{disabledMin}}" [routerLink]="[paginationParameters.navigationPage, previousButtonParameters]">
            <i class="fa fa-angle-left"></i>
          </a>
        </div>
        <div class="pagination-centernav">
          <!-- Minimum Button -->
          <a *ngIf="showMinSkip" (click)="indexClick($event)" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == 1}" [routerLink]="[paginationParameters.navigationPage, minButtonParameters]">
            1
          </a>

          <a *ngFor="let item of paginationButtonsPage" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == item.index && item.index !== 1 && item.index !== paginationParameters.max}" [routerLink]="[item.page, item.params]">
            {{item.index}}
          </a>

          <a *ngIf="showMaxSkip" (click)="indexClick($event)" *ngIf="paginationParameters.max > 1" class="pagination-button-circle" [ngClass]="{active: paginationParameters.index == paginationParameters.max}" [routerLink]="[paginationParameters.navigationPage, maxButtonParameters]">
            {{paginationParameters.max}}
          </a>
        </div>
        <!-- Angle Right Button -->
        <div class="pagination-rightnav">
          <a class="pagination-button-angle {{disabledMax}}" [routerLink]="[paginationParameters.navigationPage, nextButtonParameters]">
            <i class="fa fa-angle-right"></i>
          </a>
          <a class="pagination-button-doubleangle {{disabledMax}}" [routerLink]="[paginationParameters.navigationPage, lastButtonParameters]">
            <i class="fa fa-angle-double-right"></i>
          </a>
        </div>
    </div>

    <!-- View All Button -->
    <!-- <a *ngIf="paginationParameters.viewAllPage && paginationParameters.viewAllParams" [routerLink]="[paginationParameters.viewAllPage, paginationParameters.viewAllParams]" class='pagination-view-all'>
        VIEW ALL
        <span class="pagination-view-all-icon"></span>
    </a> -->
</footer>
