<div *ngIf="articleType == 'playerComparison'" class="comparison comparison-double">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i=index;">
        <span *ngIf="data.player_comparison_module && i == 2">
            <div class="comparison-player">
                <div class="comparison-player-circles large">
                    <div class="comparison-player-circles-vs">VS.</div>
                    <circle-image *ngIf="imageLinks[0]" class="comparison-player-circles-circle1"
                                  [data]="imageLinks[0]"></circle-image>
                    <circle-image *ngIf="imageLinks[2]" class="comparison-player-circles-circle2"
                                  [data]="imageLinks[2]"></circle-image>
                </div>
                <div class="comparison-player-circles small">
                    <div class="comparison-player-circles-vs">VS.</div>
                    <circle-image *ngIf="imageLinks[1]" class="comparison-player-circles-circle1"
                                  [data]="imageLinks[1]"></circle-image>
                    <circle-image *ngIf="imageLinks[3]" class="comparison-player-circles-circle2"
                                  [data]="imageLinks[3]"></circle-image>
                </div>
                <div class="comparison-player-container">
                    <div class="comparison-player-container-profile-info-left">
                        <div class="comparison-player-container-profile-info-left-profile-name1">
                            {{data.player_comparison_module[0].name}}
                        </div>
                        <div class="comparison-player-container-profile-info-left-profile-data1">
                            {{data.player_comparison_module[0].season}} {{data.player_comparison_module[0].label}}: {{data.player_comparison_module[0].value}}
                        </div>
                    </div>
                    <div class="comparison-player-container-profile-info-right">
                        <div class="comparison-player-container-profile-info-right-profile-name2">
                            {{data.player_comparison_module[1].name}}
                        </div>
                        <div class="comparison-player-container-profile-info-right-profile-data2">
                            {{data.player_comparison_module[1].season}} {{data.player_comparison_module[1].label}}: {{data.player_comparison_module[1].value}}
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </span>
    <div class="comparison-hr small"></div>
</div>
<div *ngIf="articleType == 'teamRecord' && articleSubType == 'about'" class="comparison">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i = index;">
        <span *ngIf="data.team_record_module && index == 1 && i == 1">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[0]" class="comparison-single-logo"
                              [data]="imageLinks[0]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[1]" class="comparison-single-logo"
                              [data]="imageLinks[1]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
        <span *ngIf="data.team_record_module && index == 2 && i == 5">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[2]" class="comparison-single-logo"
                              [data]="imageLinks[2]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[3]" class="comparison-single-logo"
                              [data]="imageLinks[3]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
    </span>
</div>
<div *ngIf="articleType == 'teamRecord' && articleSubType == 'history'" class="comparison">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i = index;">
        <span *ngIf="data.team_record_module && index == 1 && i == 1">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[0]" class="comparison-single-logo"
                              [data]="imageLinks[0]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[1]" class="comparison-single-logo"
                              [data]="imageLinks[1]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
        <span *ngIf="data.team_record_module && index == 2 && i == 3">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[2]" class="comparison-single-logo"
                              [data]="imageLinks[2]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[3]" class="comparison-single-logo"
                              [data]="imageLinks[3]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
    </span>
</div>
<div *ngIf="articleType == 'teamRecord' && articleSubType == 'last'" class="comparison">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i = index;">
        <span *ngIf="data.team_record_module && index == 1 && i == 3">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[0]" class="comparison-single-logo"
                              [data]="imageLinks[0]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[1]" class="comparison-single-logo"
                              [data]="imageLinks[1]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
        <span *ngIf="data.team_record_module && index == 2 && i == 6">
            <div class="comparison-single large">
                <circle-image *ngIf="imageLinks[2]" class="comparison-single-logo"
                              [data]="imageLinks[2]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
            <div class="comparison-single small">
                <circle-image *ngIf="imageLinks[3]" class="comparison-single-logo"
                              [data]="imageLinks[3]"></circle-image>
                <div class="comparison-single-team">{{data.team_record_module.name}}</div>
                <div class="comparison-single-record">Record:
                    {{data.team_record_module.wins}}-{{data.team_record_module.losses}}
                </div>
            </div>
        </span>
    </span>
</div>
<div *ngIf="articleType == 'playerRoster'" class="comparison">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i = index;">
        <span *ngIf="data.player_roster_module && i == index">
            <div class="comparison-roster">
                <div class="comparison-roster-images large">
                    <circle-image *ngIf="imageLinks[index-1]" class="comparison-roster-circles-player-image"
                                  [data]="imageLinks[index-1]"></circle-image>
                </div>
                <div class="comparison-roster-images small">
                    <circle-image *ngIf="imageLinks[index]" class="comparison-roster-circles-player-image"
                                  [data]="imageLinks[index]"></circle-image>
                </div>
                <div class="comparison-roster-player">{{data.player_roster_module.name}}</div>
                <div class="comparison-roster-position">{{data.player_roster_module.player_position}}
                </div>
            </div>
        </span>
    </span>
</div>
<div *ngIf="articleType == 'game_module'" class="comparison comparison-double-team">
    <div class="comparison-hr"></div>
    <span *ngFor="let data of articleData?.article; let i = index;">
        <span *ngIf="data.game_module && i == index">
            <div class="comparison-upcoming">
                <div class="comparison-upcoming-images large">
                    <span *ngIf="index == 1">
                        <div class="comparison-upcoming-container-left">
                        <circle-image *ngIf="imageLinks[0]" class="comparison-upcoming-circles-home-logo"
                                      [data]="imageLinks[0]"></circle-image>
                        </div>
                        <div class="comparison-upcoming-circles-date">
                            {{data.game_module.event_date}}<br>
                            {{data.game_module.event_time}}<br>
                            {{data.game_module.event_venue}}<br>
                            {{data.game_module.event_location}}
                        </div>
                        <div class="comparison-upcoming-container-right">
                        <circle-image *ngIf="imageLinks[1]" class="comparison-upcoming-circles-away-logo"
                                      [data]="imageLinks[1]"></circle-image>
                        </div>
                    </span>
                    <span *ngIf="index == 4">
                        <div class="comparison-upcoming-container-left">
                        <circle-image *ngIf="imageLinks[5]" class="comparison-upcoming-circles-home-logo"
                                      [data]="imageLinks[5]"></circle-image>
                        </div>
                        <div class="comparison-upcoming-circles-date">
                            {{data.game_module.event_date}}<br>
                            {{data.game_module.event_time}}<br>
                            {{data.game_module.event_venue}}<br>
                            {{data.game_module.event_location}}
                        </div>
                        <div class="comparison-upcoming-container-right">
                        <circle-image *ngIf="imageLinks[6]" class="comparison-upcoming-circles-away-logo"
                                      [data]="imageLinks[6]"></circle-image>
                        </div>
                    </span>
                </div>
                <div class="comparison-upcoming-images small">
                    <span *ngIf="index == 1">
                        <circle-image *ngIf="imageLinks[2]" class="comparison-upcoming-circles-home-logo"
                                      [data]="imageLinks[2]"></circle-image>
                        <div class="comparison-upcoming-circles-date">
                            {{imageLinks[4]}}<br>
                            {{data.game_module.event_time}}
                        </div>
                        <circle-image *ngIf="imageLinks[3]" class="comparison-upcoming-circles-away-logo"
                                      [data]="imageLinks[3]"></circle-image>
                    </span>
                    <span *ngIf="index == 4">
                        <circle-image *ngIf="imageLinks[7]" class="comparison-upcoming-circles-home-logo"
                                      [data]="imageLinks[7]"></circle-image>
                        <div class="comparison-upcoming-circles-date">
                            {{imageLinks[9]}}<br>
                            {{data.game_module.event_time}}
                        </div>
                        <circle-image *ngIf="imageLinks[8]" class="comparison-upcoming-circles-away-logo"
                                      [data]="imageLinks[8]"></circle-image>
                    </span>
                </div>
                <div class="comparison-upcoming-container">
                    <div class="comparison-upcoming-container-home-info">
                        <div class="comparison-upcoming-container-home-info-team">
                            {{data.game_module.home_team_name}}
                        </div>
                        <div class="comparison-upcoming-container-home-info-record">
                            Record: {{data.game_module.home_record}}
                        </div>
                    </div>
                    <div class="comparison-upcoming-container-away-info">
                        <div class="comparison-upcoming-container-away-info-team">
                            {{data.game_module.away_team_name}}
                        </div>
                        <div class="comparison-upcoming-container-away-info-record">
                            Record: {{data.game_module.away_record}}
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </span>
    <div class="comparison-hr small"></div>
</div>
