<div class="video-stack" *ngFor="let item of videoData;">
  <a class="video-stack-block" [routerLink]='item.videoUrl'>
    <div class="video-stack-thumbnail">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="video-stack-video embed-responsive-item" [ngStyle]="{'background-image': 'url(' + item.videoThumbnail + ')'}">
          <div class="greyout">
            <div class="playCircle">
              <i class="fa fa-play"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="video-stack-info">
      <div class="video-stack-info-title">
        <span class="video-title-top">
          <span class="video-title-top-key" [innerHTML]="item.keyword | safeHtml"></span>
          <span class="video-title-top-date" [innerHTML]="item.timeStamp | safeHtml"></span>
        </span>
        <span class="video-title-mid" [innerHTML]="item.title | safeHtml"></span>
      </div>
    </div>
  </a>
</div>
