<div class="trending-small" (window:scroll)="onScroll($event)">
    <div class="trending-small-hr-title"></div>
    <div class="trending-small-container">
        <div class="trending-small-container-main-title">TRENDING ARTICLES</div>
    </div>
    <div class="trending-small-hr-title"></div>
    <div *ngFor="let data of trendingData; let even=even; let i = index">
        <span class="featured-tag" *ngIf="i == 0">FEATURED</span>
        <share-links-component [shareUrl]="data.rawUrl" [isMain]="false"></share-links-component>
        <div *ngIf="i == 0" class="featured-articles"><i class="fa fa-newspaper-o"></i><span>FEATURED ARTICLE</span>
        </div>
        <a [routerLink]="data.url" class="trending-small-article">
            <div class="trending-small-article-title" [innerHTML]="data.title | safeHtml"></div>
            <div class="trending-small-article-date">Posted on: <span [innerHTML]="data.date | safeHtml"></span></div>
            <div class="row">
                <div class="trending-small-article-img col-xs-5 col-">
                    <div class="sixteen-nine">
                        <img src="{{data.image}}"
                             onerror="this.src='/app/public/no-image.svg'"/>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="responsive-content">
                        <div class="responsive-content-text" [innerHTML]="data.content | safeHtml"></div>
                    </div>
                    <div class="trending-small-article-read-more hide-new320">Read the story <i
                            class="fa fa-arrow-right margin"></i>
                    </div>
                </div>
            </div>
            <div class="trending-small-article-read-more hide-768">Read the story <i
                    class="fa fa-arrow-right margin"></i>
            </div>
        </a>
        <div class="trending-small-hr"></div>
        <sidekick-container-component
                *ngIf="!even"></sidekick-container-component>
        <div *ngIf="!even" class="trending-small-hr hide-under-lg"></div>
    </div>
</div>
