<footer class="footer container-fluid">
  <section class="footer-top">
    <div class="footer-top-container">
      <a *ngIf="!partner" [routerLink]="['Home-page']"><img src="/app/public/Touchdown-Loyal_Logo_Outlined-W.svg" /></a>
      <div class="placeholderImg" *ngIf="partner"></div>
      <ul>
          <a href="{{_siteFacebookUrl}}" target="_blank"><li id="share-facebook"><i class="fa fa-facebook"></i></li></a>
          <a href="{{_siteTwitterUrl}}" target="_blank"><li id="share-twitter"><i class="fa fa-twitter"></i></li></a>
          <a href="{{_siteGoogleUrl}}" target="_blank"><li id="share-google"><i class="fa fa-fontawesome-webfont"></i></li></a>
      </ul>
    </div>
  </section>

  <section class="footer-main col-xs-12">
    <div class="footer-dropDown col-xs-12">
      <dropdown-directory *ngIf="teamDirectoryListings" [heading]="'Team Listings'">
        <li *ngFor="let link of teamDirectoryListings">
          <a *ngIf="link.active" [routerLink]='link.route'>{{link.text}}</a>
        </li>
      </dropdown-directory>
      <dropdown-directory *ngIf="playerDirectoryListings" [heading]="'Player Listings'">
        <li *ngFor="let link of playerDirectoryListings">
          <a *ngIf="link.active" [routerLink]='link.route'>{{link.text}}</a>
        </li>
      </dropdown-directory>
    </div>
    <ul>
        <li class="footer-text1"><a [routerLink]="['Home-page']"><b>{{pageName}}</b></a></li>
    </ul>
    <ul>
        <li><a [routerLink]="['Contact-us-page']">{{advertise}}</a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Contact-us-page']"><b>{{contactUs}}</b></a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Disclaimer-page']"><b>{{disc}}</b></a><i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['About-us-page']"><b>{{au}}</b></a></li>
    </ul>
    <div class="footer-main-cit">
      <p class="footer-main-citation">{{_lastUpdated}}</p>
      <p class="footer-main-citation" [innerHTML]="_copyrightInfo"></p>
    </div>
  </section>

</footer>
