.footer{
  height: auto;
  &-top{
    .flexDisplay;
    .flexJustify(space-between);
    .flexAlignItems(center);
    background-color: @masterBrandColor;
    padding:0 15px;
    min-height: 40px;
    @media @desktop-xl{
      padding: 0 325px;
    }
    img{
      margin: 7px auto;
      height: 26px;
      @media @mobile {
        height:26px;
      }
    }
    ul{
      margin-right: -15px;
      text-align: center;
      .flexDisplay;
      .flexJustify(space-between);
      @media @mobile {
        width: 70px;
      }
      li{
        .globalDefaultModFont(15px, 400, @highlightGrey);
        height: 40px;
        width: 40px;
        line-height: 40px;
      }// ul li ends
    }// ul ends
  }// footer-top ends
  &-dropDown{
    .flexDisplay;
    .flexAlignItems(baseline);
    .flexJustify(center);
    margin-bottom: 15px;
  }
  dropdown-directory:first-of-type {
    margin-top:20px;
  }
  dropdown-directory {
    margin-bottom: 10px;
  }
  &-main{
    background-color: @darkTouchDownBlue;
    height: auto;
    padding: 0 15px 15px;
    .globalDefaultModFont(10px, 400, @strokeGrey);
    .flexAlignItems(center);
    .flexDisplay;
    .flexDirection(column);
    @media @desktop-xl{
      padding: 0 325px 15px 325px;
      font-size: 12px;
    }
    ul{
      .flexDisplay;
      .flexWrap(wrap);
      .flexJustify(center);
      .flexAlignItems(baseline);
      width:90%;
      .sortCategory{
        padding-right: 12px;
      }
      li{
        line-height: 1em;
        .flexDisplay;
        i{
          padding: 0 5px;
        }
        span{
          color: @strokeGrey;
        }
        &:hover{
          a{
            color: @white;
          }
        }
        &:last-child{
          span{
            visibility: hidden;
          }
        }
      }//li ends
    }// ul ends
    hr{
      width: 70%;
    }
    &-cit{
      .flexDisplay;
      .flexDirection(column);
      .flexAlignItems(center);
      @media @tablet{
        width: 100%;
        padding: 0 15px;
        .flexDirection(row);
        .flexJustify(space-between);
      }
      @media @desktop-xl{
        margin-top: 10px;
      }
    }
    &-citation{
      margin-bottom: 0;
      line-height: 1em;
      .globalDefaultFont(10px, 400);
      em{
        font-style: italic;
      }
    }
  }// footer-main ends
  &-text1{
    a{
      .globalDefaultFont(12px, 800);
      margin-bottom:12px;
      @media @desktop-xl{
        font-size: 14px;
      }
    }
  }//footer-text1 ends
  &-line3{
    width: 70%;
  }
  @media @mobile {
    #mlb-teams-dropdown {
      display:none;
    }
  }
}//footer ENDS
#share-facebook{
  &:hover, &:active{
    .fa{
      color: @white;
    }
  }
}
#share-twitter{
  &:hover, &:active{
    .fa{
      color: @white;
    }
  }
}

#share-google{
  &:hover, &:active{
    .fa{
      color: @white;
    }
  }
}
#set-width70{
  width: 70%;
}
