<footer class="footer container-fluid">
  <section class="footer-top">
    <a *ngIf="!partner" [routerLink]="['Home-page']"><img src="/app/public/Touchdown-Loyal_Logo_Outlined-W.svg" /></a>
    <div class="placeholderImg" *ngIf="partner"></div>
    <ul>
        <a href="{{_siteFacebookUrl}}" target="_blank"><li id="share-facebook"><i class="fa fa-facebook"></i></li></a>
        <a href="{{_siteTwitterUrl}}" target="_blank"><li id="share-twitter"><i class="fa fa-twitter"></i></li></a>
    </ul>
  </section>

  <section class="footer-main col-xs-12">
    <dropdown-directory [heading]="'Team Listings'">
      <li *ngFor="let link of teamDirectoryListings">
        <a [routerLink]='link.route'>{{link.text}}</a>
      </li>
    </dropdown-directory>
    <dropdown-directory [heading]="'Player Listings'">
      <li *ngFor="let link of playerDirectoryListings">
        <a [routerLink]='link.route'>{{link.text}}</a>
      </li>
    </dropdown-directory>
    <ul>
        <li class="footer-text1"><a [routerLink]="['Home-page']"><b>{{linkName}}</b></a></li>
    </ul>
    <ul>
        <li><a [routerLink]="['Contact-us-page']">Advertise with {{pageName}}</a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Contact-us-page']"><b>Contact Us</b></a> <i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['Disclaimer-page']"><b>Disclaimer</b></a><i class="fa fa-caret-right"></i></li>
        <li><a [routerLink]="['About-us-page']"><b>About Us</b></a></li>
    </ul>
    <p class="footer-main-citation">Images Provided By: <em>{{_copyrightInfo}}</em></p>
  </section>

</footer>
