<div *ngIf="!league" class="schedule">
    <div class="schedule-next {{defaultGradient}} col-xs-12 row" [ngStyle]="fullGradient">
        <div class="col-xs-5">
            <div class="schedule-next-team schedule-next-team-left col-xs-9">
                <a *ngIf="awayData.url" [routerLink]="awayData.url">
                    <div class="schedule-next-team-left-url">
                        <span class="schedule-next-team-name">
                          <span class="schedule-next-team-name-firstName">
                            {{awayData.awayLocation}}
                          </span>
                          <span class="schedule-next-team-name-bold"> {{awayData.awayName}}</span></span>
                    </div>
                </a>
                <div *ngIf="!awayData.url" class="schedule-next-team-left">
                        <span class="schedule-next-team-name">
                          <span class="schedule-next-team-name-firstName">
                            {{awayData.awayLocation}}
                          </span>
                          <span class="schedule-next-team-name-bold"> {{awayData.awayName}}</span>
                        </span>
                </div>
                <div class="schedule-next-team-record">
                  Record: <span class="schedule-next-team-record-bold">{{awayData.awayWins}} - {{awayData.awayLosses}}</span>
                </div>
            </div>
            <circle-image *ngIf="awayData.awayLogo" class="schedule-next-circle schedule-next-circle-left push-xs-10"
                          [data]="awayData.awayLogo"></circle-image>
        </div>
        <div class="schedule-next-vs col-xs-2">
            vs.
        </div>
        <div class="col-xs-5">
            <circle-image *ngIf="homeData.homeLogo" class="schedule-next-circle schedule-next-circle-right pull-xs-10"
                          [data]="homeData.homeLogo"></circle-image>
            <div class="schedule-next-team schedule-next-team-right col-xs-9">
                <a *ngIf="homeData.url" [routerLink]="homeData.url">
                    <div class="schedule-next-team-right-url">
                        <span class="schedule-next-team-name">
                          <span class="schedule-next-team-name-firstName">
                            {{homeData.homeLocation}}
                          </span>
                          <span class="schedule-next-team-name-bold"> {{homeData.homeName}}</span>
                        </span>
                    </div>
                </a>
                <div *ngIf="!homeData.url" class="schedule-next-team-right">
                        <span class="schedule-next-team-name">
                          <span class="schedule-next-team-name-firstName">
                            {{homeData.homeLocation}}
                          </span>
                          <span class="schedule-next-team-name-bold"> {{homeData.homeName}}</span>
                        </span>
                </div>
                <div class="schedule-next-team-record">
                  Record: <span class="schedule-next-team-record-bold">{{homeData.homeWins}} - {{homeData.homeLosses}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
