<div *ngIf="tabs" class="standings">
  <div class="standings-car">
    <slider-carousel *ngIf="carouselData" [carouselData]="carouselData" (indexNum)="indexNum($event)" [indexInput]="selectedIndex"></slider-carousel>
  </div>

  <tabs (tabSelected)="tabSelected($event)">
    <tab *ngFor="let tab of tabs" [tabTitle]="tab.title" [active]="tab.isActive">
      <loading-component *ngIf="!tab.isLoaded && !tab.hasError"></loading-component>
      <div *ngIf="tab.isLoaded && tab.sections" class="inner-pane">
        <div class="filters">
          <span class="list-filter-heading">
            <i class="fa fa-cog"></i> List Filters
          </span>
          <div class="sort-title">
            <span class="sort-title-text">Division: </span>
            <dropdown *ngIf="sortSeason" [list]="sortSeason" [selectedKey]="" (selectionChanged)="seasonChanged($event)"></dropdown>
            <dropdown *ngIf="sortSeason" [list]="sortSeason" [selectedKey]="" (selectionChanged)="seasonChanged($event)"></dropdown>
          </div>
          <div class="sort-title">
            <span class="sort-title-text">Season: </span>
            <dropdown *ngIf="sortSeason" [list]="sortSeason" [selectedKey]="" (selectionChanged)="seasonChanged($event)"></dropdown>
          </div>
        </div>
        <div *ngFor="let section of tab.sections; let i = index" class="standings-tab-section">
          <span class="tab-name {{'no-'+i}}" *ngIf="section.groupName" [innerHtml]="'<b>' + section.groupName + ':</b> Standings' "></span>
            <custom-table [model]="section.tableData" (sortChanged)="updateCarousel($event)"></custom-table>
        </div>
      </div>
      <div *ngIf="!tab.sections && tab.isLoaded" class="standings-no-data">
          <no-data-box [data]="noDataMessage" [icon]="'fa fa-remove'"></no-data-box>
      </div>
    </tab>
  </tabs>

</div>
