<!--
<div class="main-article">
<div class="main-article-title" [innerHTML]="title"></div>
<div class="main-article-carousel">
&lt;!&ndash;
    <img src="{{imageData}}">
&ndash;&gt;
    <images-media-carousel [imageData]="imageData" [copyright]="copyright"
                           [imageTitle]="imageTitle"></images-media-carousel>
</div>
<div class="row">
    <div class="col-md-6">Written By: <b> {{author}}, {{publisher}} </b></div>
    <div class="col-md-6">Posted on: <b>{{articleDate}} </b></div>

</div>
<div class="main-article-detailedInfo">{{teaser}}</div>
</div>-->
