.main-article{
  &-title {
    max-height: 96px;
    .globalDefaultFont(40px, 800);
    text-align: left;
    @media @mobile{
      .globalDefaultFont(20px, 800);
      //margin-left:-10px;
    }

  }

  &-carousel{
    width: 728px;
    height: 411px;
    background-color: #ccc;
    img{
      height: 411px;
      width: 728px;
    }
  }
  .row{
    .globalDefaultFont(10px, 400);
  }
    .col-md-6{
    height:30px;


  }
  &-detailedInfo{
    width: 728px;
    max-height: 289px;
    padding-top: 15px;
    padding-bottom: 15px;

  }


}