.condition-page{
  min-width: 320px;
  .flexDisplay;
  &-widget{
    margin: 0 auto;
  }
  &-container2b{
    display: none;
    @media @desktop-l{
      display: block;
      position: relative;
      width: 300px;
      height: 600px;
      margin-top: 20px;
    }
  }
}

.info{
  &-contain{
    padding: 15px 10px 1px;
    @media @tablet{padding: 15px 20px 1px}
  }//.info-contain ends
  &-title{
    &-share ul{
      font-size: 16px;
      margin-bottom: 10px;
      .flexDisplay;
      .st_sharethis_large{
        .stButton{
          margin: 0;
          display: none!important;
        }
        margin-right: 10px;
        cursor: pointer;
        color: @altShareGreen;
      }
      a{
        margin-right: 10px;
        li{
          .fa-facebook-1{color: @facebook}
          .fa-twitter{color: @twitter}
          .fa-g-plus{color: @googlePlus}
          .fa-linkedin-1{color: @linkedin}
        }
      }
    }
    &-main{
      margin-bottom: 10px;
      .globalDefaultModFont(22px, 800, @black);
      @media @tablet{font-size: 40px}
    }
    &-update{
      margin-bottom: 10px;
      .globalDefaultModFont(12px, 400, @black);
    }
  }//.info-title ends
  &-paragraph{
    &-sub{
      margin-bottom: 20px;
      @media @tablet{margin-bottom: 30px}
      &-title{
        margin-bottom: 3px;
        .globalDefaultModFont(18px, 800, @black);
      }
      &-info{
        margin-bottom: 20px;
        .globalDefaultModFont(14px, 400, @black);
        @media @tablet{margin-bottom: 30px}
      }
      &-info:last-child{margin-bottom: 0}
    }
  }//.info-paragraph ends
}
