<div *ngIf="topScope=='football'" class="schedule_box {{boxData.isLive}} football"><!--become a component <schedule-box>-->
  <div class="schedule_box-date" *ngIf="boxData.isLive != 'schedule-live'" [innerHTML]="boxData.date">
  </div>
  <div class="schedule_box-date live" *ngIf="boxData.isLive == 'schedule-live'">
    <span class="innings"><span class="innings-text" [innerHTML]="boxData.inning"></span></span>
    <span class="liveText"><i class="fa fa-circle"></i> LIVE</span></div>
  <div class="schedule_box-versus">
    <!-- away data below -->
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        <circle-image [data]="boxData.awayImageConfig"></circle-image>
      </div>
      <a [routerLink]="boxData.awayLink">
        <span class="schedule_box-text">
          {{boxData.awayTeamName}}
        </span>
      </a>
    </div>
    <!-- home data below -->
    <div class="schedule_box-team">
      <div class="schedule_box-image">
        <circle-image [data]="boxData.homeImageConfig"></circle-image>
      </div>
      <a [routerLink]="boxData.homeLink">
        <span class="schedule_box-text">
          {{boxData.homeTeamName}}
        </span>
      </a>
    </div>
    <a [routerLink]="boxData.reportLink">
      <div *ngIf="boxData.isLive != 'schedule-live'" class="schedule_box-linkbox">
        <span>{{boxData.reportDisplay}}</span>
      </div>
      <div *ngIf="boxData.isLive == 'schedule-live'" class="schedule_box-linkbox-live">
        <span><i class="fa fa-circle"></i> LIVE GAME REPORT</span>
      </div>
    </a>
  </div>
</div><!--</schedule-box-football>-->

<div *ngIf="topScope=='weather'" class="schedule_box weather"><!--become a component <schedule-box>-->
  <div class="weather-date">5:00 PM CT</div>
  <img class="condition-image" src="http://images.synapsys.us/weather/icons/sharknado_d.svg">
  <div class="condition">Sharknado</div>
  <div class="temp">84&deg;</div>
</div><!--</schedule-box-weather>-->

<div *ngIf="topScope=='finance'" class="schedule_box finance"><!--become a component <schedule-box>-->
  <img class="company-logo" src="http://images.synapsys.us/images/blarg.jpg">
  <div class="company-name">{{boxData.fullCompanyName}}</div>
  <div class="exchange">{{boxData.exchangeName}}: {{boxData.companySymbol}}</div>
  <div class="stock-value"><span class="current-value">${{boxData.currentStockValue}}</span> <span class="value-change positive"><i class="fa fa-arrow-up"></i> ${{boxData.stockChangeAmount}} {{boxData.stockChangePercent}}%</span></div>
  <div class="view-profile">VIEW PROFILE</div>
</div><!--</schedule-box-finance>-->
