<section *ngIf="totalImageCount > 0" class="images-media" [class.module-container]="isProfilePage"
         [class.images-media-module]="isProfilePage && arraySize > 1"
         [class.images-media-module-small]="isProfilePage && arraySize == 1"
         (window:resize)="onResize($event)">
    <module-header *ngIf="isProfilePage" [modHeadData]="modHeadData"></module-header>
    <div class="carousel col-xs-12">
        <loading-component *ngIf="!imageData"></loading-component>
        <div *ngIf="imageData" class="embed-responsive embed-responsive-16by9">
            <a class='expand-button' (click)="modalExpand()">
                <i class='fa {{expandIcon}}'></i>
            </a>
            <span [style.background-image]="backgroundImage"
                  class="container-img embed-responsive-item">
                <circle-button *ngIf="arraySize > 1" class="container-img-navigation" (scrollLeft)="left()" (scrollRight)="right()"></circle-button>
            </span>
            <div class="grey-bar col-xs-12">
                <span class='grey-bar-counter'>
                    <i class='fa fa-file-image-o'></i>
                    {{imagesTitle}} <span class='grey-bar-counter-bold'>{{displayCounter}}</span> &nbsp; of &nbsp;
                    <span class='grey-bar-counter-bold'>{{totalImageCount}}</span>
                </span>
                <!--<span class="grey-bar-title">{{description}}</span>-->
                <span class="grey-bar-credit"><span [ngStyle]="{color: '#ccc'}">Provided By:</span>
                    <span class="grey-bar-credit-bold">{{imageCredit}}</span>
                </span>
            </div>
        </div>
    </div>
</section>

<div class="carousel-modal" (keyup)="close($event)" [ngClass]="{'carousel-modal-open': expand == true}">
    <div class="carousel-modal-exit" (click)="modalExpand($event)" >X</div>
    <div class="carousel-modal-container embed-responsive embed-responsive-16by9">
        <span [style.background-image]="backgroundImage"
              class="carousel-modal-container-img embed-responsive-item">
            <circle-button class="carousel-modal-container-img-navigation" (scrollLeft)="left()"
                           (scrollRight)="right()"></circle-button>
        </span>
        <div class="carousel-modal-grey-bar row"><span class="carousel-modal-grey-bar-title col-sm-4">
            <span class='grey-bar-counter-bold'>{{displayCounter}}</span> of
                    <span class='grey-bar-counter-bold'>{{totalImageCount}}</span></span>
            <span
                class="carousel-modal-grey-bar-credit col-sm-8">Provided By: <span
                class="carousel-modal-grey-bar-credit-bold">{{imageCredit}}</span></span></div>
    </div>
</div>
