<!-- (swipe)="onSwipe($event)" -->
<div class="carousel_scroll" (mousemove)="movingMouse($event)"  (window:resize)="onResize($event)">
  <div class="carousel_scroll-box" (mousedown)="scrollX($event)" (mouseup)="scrollX($event)">
    <!-- <div *ngIf="displayedItems" class="carousel_scroll-container {{transition}}" [style.right]="rightText | safeStyle"> -->
    <div class="carousel_scroll-container {{transition}}" [style.right]="rightText | safeStyle">
      <!-- ng content goes below -->
      <ng-content></ng-content>
      <!-- end of content -->
    </div>
  </div>
  <div class="carousel_scroll-overlayright" *ngIf="fade"></div>
  <div class="carousel_scroll-overlayleft" *ngIf="fade"></div>
  <button *ngIf="buttonClass" class="{{buttonClass}} carousel_scroll-left" (click)="left($event)" [ngClass]="{'disabled': minScroll === true }"><i class="fa fa-angle-left-1"></i></button>
  <button *ngIf="buttonClass" class="{{buttonClass}} carousel_scroll-right" (click)="right($event)" [ngClass]="{'disabled': maxScroll === true}"><i class="fa fa-angle-right-1"></i></button>
</div>
